.card {
  margin: 20px;
  background-image: url(../../assets/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid white;
  border-radius: 20px;
}
.modal-body {
  align-items: center;
}
.column {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/house/house2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* background: -webkit-linear-gradient(
    rgba(201, 250, 168, 0.685),
    rgba(81, 226, 231, 0.856)
  );
  background: -o-linear-gradient(
    rgba(201, 250, 168, 0.685),
    rgba(81, 226, 231, 0.856)
  );
  background: -moz-linear-gradient(
    rgba(201, 250, 168, 0.685),
    rgba(81, 226, 231, 0.856)
  );
  background: linear-gradient(
    rgba(201, 250, 168, 0.685),
    rgba(81, 226, 231, 0.856)
  ); */
}

.card-title {
  font-size: 30px;
}
.card-text {
  font-size: 25px;
}
img {
  width: 100%;
  max-width: 100px;
}
