* {
  font-family: "Noto Sans TC", sans-serif;
}

.container {
  width: 100%;
}
.container h2 {
  color: #214362;
}
#chart {
  width: 100%;
  max-width: 600px;
  min-width: 390px;
}
div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
