* {
  font-family: "Noto Sans TC", sans-serif;
}

h2 {
  color: aliceblue;
}
#chart {
  width: 100%;
  max-width: 700px;
  min-width: 390px;
}
div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#info {
  font-size: 30px;
}
input {
  width: 100%;
  max-width: 500px;
  margin: 10px;
}
button {
  width: 100%;
  max-width: 500px;
  margin: 10px;
}
