* {
  font-family: "Noto Sans TC", sans-serif;
}

.container {
  width: 100%;
  min-width: 260px;
  min-height: 420px;
}
.container h2 {
  color: #214362;
}

div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  min-width: 400px;
  justify-content: center;
  align-content: center;
}
