#stock:hover {
  background: rgba(230, 212, 113, 0.849);
}
.input-group {
  width: 100%;
  max-width: 500px;
  margin: 10px;
  margin-block-start: auto;
}
@media (min-width: 300px) {
  table {
    font-size: 16px;
  }
}
@media (min-width: 400px) {
  table {
    font-size: 20px;
  }
}
