img {
  width: 100%;
  max-width: 220px;
}
.row {
  width: 100%;
}
.all {
  padding-top: 30px;
  padding-left: 30px;
}
.container-fluid {
  height: 100vh;
  background-position: center;
  background: -webkit-linear-gradient(
    rgba(201, 250, 168, 0.685),
    rgba(81, 226, 231, 0.856)
  );
  background: -o-linear-gradient(
    rgba(201, 250, 168, 0.685),
    rgba(81, 226, 231, 0.856)
  );
  background: -moz-linear-gradient(
    rgba(201, 250, 168, 0.685),
    rgba(81, 226, 231, 0.856)
  );
  background: linear-gradient(
    rgba(201, 250, 168, 0.685),
    rgba(81, 226, 231, 0.856)
  );
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid rgba(255, 251, 243, 0.596);
  border-radius: 30px;
  background: rgba(255, 251, 243, 0.596);
}

ul {
  padding-top: 65px;
}
.check {
  margin: 10px;
  width: 30px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  margin-right: 25px;
  width: 100%;
  max-width: 350px;
  height: 200px;
  background-position: center;
  background-image: url(../../assets/box/background_test01.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
